/* This is an example of how to import a partial scss file*/
@import '_variables';

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

button {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.user-login-section {
  video {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    object-fit: cover;
  }
}
.overlay {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:67vh;
  color: white;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  p {
    margin-bottom: 100px;
    margin-top: 30px;
    i {
      margin-right: 5px;
    }
  }
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 30px;
  margin: 0;
}
.user-profile {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: none;
}
.hero-section-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 50px;
    color: white;
    margin-top: 0px;
  }
}

.filters {
  margin-bottom: 20px;
  button {
    border-radius: 20px;
    border: none;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
    // background-color: #dbdad6;
    opacity: 80%;
    margin-left: 5px;
    margin-right: 5px;
  }

  button:hover {
    cursor: pointer;
    opacity: 100%;
    
  }
  
}

.trips-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    margin-top: 45px;
    font-size: 30px;
    font-weight: lighter;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 20px;
  img {
    height: 310px;
    width: 500px;
    border-radius: 15px;
    background-color: #37496F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
}


.card-grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-info-tags {
  display: flex;
}

.card-header {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: lighter;
    font-size: 18px;
  }
  b {
    font-size: 20px;
  }
}
.card-tag {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  background-color: #dee8ec;
  //background-color: #dbdad6;
  text-align: center;
  font-size: 16px;
  margin-right: 15px;
  p {
    margin-top: 11px;
  }
}
.status-tag {
  margin-top: 17px;
  color: white;
  padding: 5px 12px 5px 12px;
  height: 20px;
  border-radius: 20px;
  i {
    padding-top: 2px;
    margin-right: 5px;
  }
}

.approved {
  background-color: #26A65B;
}

.pending {
  background-color: #B8860B;
}

.form-container {
  display: flex;
  .input-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .date-input {
    width: 150px;
  }
  .number-input {
    width: 90px;
  }
  .destination-input {
    width: 250px;
  }
  input {
    height: 50px;
    border-radius: 5px;
    border: none;
    opacity: 80%;
    padding-left: 15px;
    padding-right: 10px;
    font-size: 16px;
  }
  label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
  }
  button {
    height: 52px;
    width: 120px;
    border-radius: 5px;
    border: none;
    background-color: #37496F;
    opacity: 90%;
    color: white;
    margin-top: 18px;
    margin-left: 10px;
  }
  button:hover {
    opacity: 100%;
  }

  .hidden {
    display: none;
  }
}


